.page-main{
    .group-list{
        padding: 10px;
        &:nth-child(odd){
            background-color: #3C3E64 ;
        }
        &.head{
            label{
                width: calc(100% - 60px);
                // padding: 0 15px;
                text-align: center;
                &:first-child{
                    width: 50px;
                }
            }
        }
    }
    #quick_number,
    #nhapso{
        .number_choose{
            label{
                width: 120px;
                background-image: url(../img/icon/bg_label_blue.png);
                background-position: right;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 10px 15px;
                border-radius: 5px;
                color: #fff;
            }
        }
        .options__unit{
            width: calc(100% - 120px);
        }
        .top_result{
            span{
                background-color: #818181;
                padding: 5px 10px;
                border-radius: 4px;
                width: auto;
            }
            a{
                width: auto;
            }
        }
    }
    .__list_number{
        a{
            width: 40px;
            height: 40px;
            line-height: 30px;
            background: #F2F1FE;
            border: 1px solid #95999F;
            border-radius: 5px;
            text-align: center;
            margin: 3px 1px;
            color: #363636;
        }
    }
   
}